*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #304352, #d7d2cc);
    background-repeat: no-repeat;
    background-attachment: fixed;
}