:root{
    --primary-background:red;
    --secondary-background:rgb(85, 88, 64);
    --thirdly-background:rgb(96, 102, 59);
}
*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--primary-background);
    
}
header img{
    width: 20%;
    margin: 10px;
}
header img:hover{
    transition: 1.5s;
    transform: rotate(360deg);
    cursor: grab;
}
main{
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: white;
    font-size: 50px;
    display: inline-block;
    padding: 10px;
    border: 2px solid var(--primary-background);
    border-radius: 25px;
}
#search{
    width:200px;
    height: 50px;
    margin: 20px 0;
    border: 2px solid var(--primary-background);
    border-radius: 15px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
header nav ul li:hover{
    transform: scale(1.2);
    transition: 1s;
    letter-spacing: 2px;
}
.navItem{
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    padding: 10px 10px;
    background-color: var(--thirdly-background);
    border-radius: 20px;
}
.card{
    flex-basis: 20%;
    height: 300px;
    background-color: bisque;
    border: 5px solid var(--primary-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow: 8px 8px rgb(29, 27, 27);
    transform: scale(1.05);
    transition: 1s;
    cursor:grab;
}
.pokemonImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
footer{
    background-color: var(--primary-background);
    padding-bottom: 20px;
}
footer nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 20px 0;
}
footer nav ul li a{
    text-decoration: none;
}
footer nav ul li:hover{
    transform: scale(1.2);
    transition: 1.2s;
}
footer nav ul li a img{
    width: 50px;
    height: 50px;
}
footer h4{
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    padding-bottom: 0;
}